/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


body {
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size:40pt;
}

.container{
  background-color: #eaeaea;
  display: block;
  height: 100vh;
  overflow-y: scroll;
}


.section {
  height:100%;
  width: 100%;

  background-image:url("./sky-background.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

.section-2{
  height:100%;
  width:100%;
  text-align: center;
  color: black;
  background-color: #F3908B;/* #C099B6 purple; /* #FFAD81; orange  /*#F3908B; pink
  /*background-image:url("./bkgr-city.jpg");*/
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}


.section-3{
  height:100%;
  width:100%;

  background-color:green;
}

hr{
  display: block;
height: 1px;
border: 0;
border-top: 2px solid white;
margin: 1em 0;
padding-left: 10px;
border-radius: 50%;
}

.welcome-text{
  width: fit-content;
  margin: auto;
  text-align:left;
  position: relative;
  display:inline-block;
  top: 27%;
  margin-left:15%;
}


.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2.5s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes unwrite{
  from{width: 24em;}
  to{width: 0;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.anim-fadein{
  animation: fadein 4s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.75; }
}

.down-icon{
  width: 15%;
  margin-left:10%;
  margin-top: 20px;

}

.down-icon:hover{
  width: 16%;
  margin-left:9.5%;
  margin-top: 18px;
  opacity: 1;

}

.social{
  width:50px;
  height: min-content;
  float:right;
  margin-right:2%;
  top: 30%;
  position: relative;
  padding:10px;

}

.social-icon{
  margin: 10px;
  width: 70%;
}

.social-icon:hover{
  margin: 2px;
  width:100%;
}


.about-me-text{

    float:left;
    top: 15%;
    position: relative;
    width: 700px;
    display: inline-block;
    color: white;
    margin-left:10%;
}

.about-me-pic-container{

  float:right;
  position:relative;
  display:inline-block;
  top:20%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom:auto;
}

.profile-pic{
  width:400px;
  border-radius: 50%;

}
