/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;;
}

h1{
  font-size:40pt;
  margin-bottom: 0px;
}

.colourful{
  color: #9e495e;
}

.colourful-2{
  color: #dfbfb5;
}

.size2{
  font-size:150%;
}
.container{
  background-color: #eaeaea;
  display: block;
  height: 100vh;
  overflow-y: scroll;
}


.section {
  height:100%;
  width: 100%;

  background-image:url("./bkgr-pink-forest.jpg");
  backdrop-filter: blur(8px);

  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

.section-2{
  height:100%;
  width:100%;
  text-align: center;
  color: white;
  background-color: #c89180;/* #C099B6 purple; /* #FFAD81; orange  /*#F3908B; pink
  /*background-image:url("./bkgr-city.jpg");*/
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}


.section-3{
  height:100%;
  width:100%;

  background-color: white;/*purple; /* #FFAD81; orange  /*#F3908B; pink*/
  color: #F3908B;
  /*background-image:url("./bkgr-city.jpg");*/
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.ava-bold{

  font-size: 110%;
}


hr{
  display: block;
height: 1px;
border: 0;
border-top: 2px solid white;
margin: 1em 0;
padding-left: 10px;
border-radius: 50%;
}

.welcome-text{
  width: fit-content;
  margin: auto;
  text-align:left;
  position: relative;
  display:inline-block;
  top: 27%;
  margin-left:15%;
}


.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

h2{
  display:inline-block;
}

.moving-text-container{
  padding-top:0px;
  top:0px;
  position:relative;
}
.moving-text{
  padding-left:10px;
  color:	#9e495e;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2.5s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes unwrite{
  from{width: 24em;}
  to{width: 0;}
}

@keyframes blinkTextCursor{
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}

.anim-fadein{
  animation: fadein 4s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.75; }
}

.down-icon{
  width: 15%;
  margin-left:10%;
  margin-top: 20px;

}

.down-icon:hover{
  width: 16%;
  margin-left:9.5%;
  margin-top: 18px;
  opacity: 1;

}

.social{
  width:50px;
  height: min-content;
  float:right;
  margin-right:2%;
  top: 30%;
  position: relative;
  padding:10px;

}

.social-icon{
  margin: 10px;
  width: 70%;
}

.social-icon:hover{
  margin: 2px;
  width:100%;
}


.about-me-text{

    float:left;
    top: 5%;
    position: relative;
    width: 700px;
    display: inline-block;
    color: white;
    margin-left:10%;
    text-align: justify;
    margin-top: auto;
    margin-bottom:auto;
}

.about-me-pic-container{

  float:right;
  position:relative;
  display:inline-block;
  top:20%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom:auto;
}

.profile-pic{
  width:400px;
  border-radius: 50%;

}

.where-been-text{
  top: 10%;
  position: relative;
  width: 724px;
  display: inline-block;
  text-align: justify;
}

.where-been-text h2{
}

.where-been-list{
  list-style-type:none;
  font-size: 110%;
  padding: 0;
  padding-top:20px;
  width: fit-content;
  display:inline-block;
  position: relative;
}


.where-been-box{
  padding:10px;
  border-left: 3px solid  white;
  width: 180px;
  height:40px;
  border-left: 3px solid #f7e5e4;
  line-height: 30px;
}

.where-been-box-selected{
  padding:10px;
  border-left: 3px solid  #F3908B;
  font-weight: bold;
  background-color: #f7e5e4;
  width: 180px;
  height:40px;
  line-height: 30px;
}

.work-details{
  display: inline-block;
  width: 430px;
  padding:10px;
  padding-top:20px;
  margin:0;
  position: absolute;

  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
