/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;;
}

h1{
  font-size:40pt;
  margin-bottom: 0px;
}

a{
  text-decoration: none;
}

.colourful{
  color: #9e495e;
}

.colourful-beige{
  color: #c89180;
}
.colourful-2{ /* lightest beige*/
  color: white;
}

.colourful-3{ /*darkest beige*/
  color: #af634c;
}

.colourful-strong{
  color: #6a313f;
}

.size2{
  font-size:150%;
}
.container{
  background-color: #eaeaea;
  display: block;
  height: 100vh;
  overflow-y: scroll;
}

.job-header{
  color:  #6a313f;
  font-size: 120%;
  margin-bottom: 0px;
  margin-top:0px;
}

.company-highlight{
  color: #6a313f;
  font-weight: bolder;
}

.job-timeline{
  margin-top:0px;
  padding-top:0px;
  color:#9e495e;
}

.section {
  height:100%;
  width: 100%;

  background-image:url("./bkgr-pink-forest.jpg");
  backdrop-filter: blur(8px);

  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

.section-2{
  height:100%;
  width:100%;
  text-align: center;
  color: white;
  background-color: #c89180;/* #C099B6 purple; /* #FFAD81; orange  /*#F3908B; pink
  /*background-image:url("./bkgr-city.jpg");*/
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
}


.section-3{
  height:100%;
  width:100%;

  background-image:url("./coffee-background.jpg");
  backdrop-filter: blur(8px);

  background-size: cover; /* or contain depending on what you want */
  background-repeat: no-repeat;/*purple; /* #FFAD81; orange  /*#F3908B; pink*/
  /*background-image:url("./bkgr-city.jpg");*/
  background-size: cover; /* or contain depending on what you want */
  background-position: right 0px bottom 0px;
  background-repeat: no-repeat;
  text-align: center;
}
.ava-bold{

  font-size: 110%;
}


hr{
  display: block;
height: 1px;
border: 0;
border-top: 2px solid white;
margin: 1em 0;
padding-left: 10px;
border-radius: 50%;
}

.welcome-text{
  width: fit-content;
  margin: auto;
  text-align:left;
  position: relative;
  display:inline-block;
  top: 27%;
  margin-left:15%;
}


.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 160%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

h2{
  display:inline-block;
}

.moving-text-container{
  padding-top:0px;
  top:0px;
  position:relative;
}
.moving-text{
  padding-left:10px;
  color:	#9e495e;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2.5s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes unwrite{
  from{width: 24em;}
  to{width: 0;}
}

@keyframes blinkTextCursor{
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}

.anim-fadein{
  animation: fadein 4s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.75; }
}

.down-icon{
  width: 15%;
  margin-left:10%;
  margin-top: 20px;

}

.down-icon:hover{
  width: 16%;
  margin-left:9.5%;
  margin-top: 18px;
  opacity: 1;

}

.social{
  width:50px;
  height: min-content;
  float:right;
  margin-right:2%;
  top: 30%;
  position: relative;
  padding:10px;

}

.social-icon{
  margin: 10px;
  width: 70%;
}

.social-icon:hover{
  margin: 2px;
  width:100%;
}


.about-me-text{

    float:left;
    top: 5%;
    position: relative;
    width: 700px;
    display: inline-block;
    color: #eedbc5;
    margin-left:10%;
    text-align: justify;
    margin-top: auto;
    margin-bottom:auto;
}

.about-me-pic-container{

  float:right;
  position:relative;
  display:inline-block;
  top:20%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom:auto;
}

.profile-pic{
  width:400px;
  border-radius: 50%;

}

.full-width-container{
  width:100%;
  height: fit-content;
  float:left;
  position:relative;
  display:block;
  margin-top:20px;
}

.where-been-text{
  display: block;
  text-align: justify;

  float:left;
  top: 5%;
  position: relative;
  width: 800px;
  display: inline-block;
  margin-left:10%;
  text-align: justify;
  margin-top: auto;
  margin-bottom:auto;
}

.what-learnt-text{
  display: block;
  text-align: justify;

  float:left;
  top: 5%;
  position: relative;
  width: 800px;
  display: inline-block;
  margin-left:10%;
  text-align: right;
  margin-top: auto;
  margin-bottom:auto;
}
.where-been-text h2{
  display:block;
  margin-bottom:0px;
}

.where-been-list{
  list-style-type:none;
  font-size: 110%;
  padding: 0;
  width: fit-content;
  display:inline-block;
  position: relative;
  color: #9e495e;
}


.where-been-box{
  padding:10px;
  width: 180px;
  height:50px;
  border-left: 3px solid #f4e7d9;
  line-height: 50px;
}

.where-been-box-selected{
  padding:10px;
  border-left: 3px solid #c89180;
  font-weight: bold;
  background-color:#f4e7d9;
  width: 180px;
  height:50px;
  line-height: 50px;
}

.work-details{
  display: inline-block;
  width: 540px;
  padding:10px;
  padding-top:20px;
  padding-right:10px;
  margin:0;
  position: absolute;

  /*background-color: #f4e7d9;
  height: 240px;*/

  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

.job-description{
  color: 	#6a313f;
  display:inline-block;
  margin-top:0px;
}

.job-points {
  list-style: none; /* Remove default bullets */
  padding: 0px;
}

.job-points li::before {
  content: "\27A4";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #9e495e; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  margin-right:5px;
}

.job-points li{
  display:inline;
}

.what-learnt-text h2{
  display:block;
}

.badge-c1{
  border-radius:50%;
  background-color:#9c684e;
  color:white;
  width: 60px;
  height:60px;
  text-align:center;
  line-height:60px;
  display:inline-block;
  margin:10px;
}

.badge-c2{
  border-radius:50%;
  background-color:#644b40;
  color:white;
  width: 60px;
  height:60px;
  text-align:center;
  line-height:60px;
  display:inline-block;
  margin:10px;
}

.badge-c3{
  border-radius:50%;
  background-color:#bd8860;
  display:inline-block;
  margin:10px;
  color:white;
  width: 60px;
  height:60px;
  text-align:center;
  line-height:60px;
}
